
header{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
  height: 120px;
	border-bottom: 1px solid #000 ;
  background-color: #4BC7E4;
  padding-left: 120px;
}

section{
	position: absolute;
	top:120px;
	left: 0;
	right: 0;
	bottom:0;
	background: #fff;
  padding: 20px 120px;
}

section input[type='text']{
  width: 250px;
  margin: 20px 0 50px;
}
th {
  font-weight: bold;
  color: #265a88;
  vertical-align: middle;
}
.select{
  width: 300px;
}

th a i{
  /*position: relative !important;*/
  top: 3px !important;
  left: 3px;
}
.modal-dialog{
  margin-top: 10%;
}